
.root{
    -fx-background-image: url("sun.jpg");
}
.dark-mode {
    -fx-background-image: url("winter.png");
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}

/* Light Mode */
.light-mode {
    -fx-background-image: url("sun.jpg");
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
